@font-face {
  font-family: 'Snoopy';
  src: url('./fonts/snoopy.ttf') format('truetype');
}

body {
  background-color: #c2e1ff;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
  display: block;
  width: 30%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

#header {
  display: block;
  font-size: 30px;
  color: #4165d9;
  text-align: center;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1;
  letter-spacing: 2.75px;
}

#slogan {
  display: block;
  font-family: 'Snoopy';
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: 1.25px;
}

#subheader {
  display: block;
  text-align: center;
  font-size: 16.75px;
  font-weight: 300;
  padding-top: 13px;
  letter-spacing: 0.5px;
}

.menu-container {
  padding-top: 35px;
  margin-left: 25px;
  margin-bottom: 55px;
}

.menu-entry {
  display: flex;
  padding-bottom: 23px;
}

.food-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 16px;
  border: 2.5px solid #050504;
}

.food-info-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  flex-grow: 1;
}

.name-price-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.price {
  font-size: 0.9em;
  padding-right: 20px;
}

.food-caption {
  font-size: 15px;
  color: #3a3a3a;
  line-height: 1.75;
  padding-left: 1.5px;
}

.quantity-selector-container {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 17.5px;
}

.quantity-selector-container button {
  background-color: #aad7ff;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#quantity-ordered {
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.checkout-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffe1c6;
  padding: 15px 35px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  .spacer {
    flex-grow: 1;
  }
}

.checkout-bar button {
  background-color: #ffcda2;
  text-align: center;
  font-size: medium;
  border-radius: 10px;
  padding: 2px 7px;
  margin-right: 12px;
}

#clear-all-button {
  margin-right: 60px;
}